<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log In
                  OTP</p>
                    <p class="otp" style="color: red;">{{this.otpErr}}</p>
                <form class="mx-1 mx-md-4" action="/sendcode" method="post">
                  {{!-- <p class="Err text-danger">Invalid Email or Password</p> --}}
                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        placeholder="PhoneNumber"
                        name="phonenumber"
                      />
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mx-2 mb-1 mb-lg-2">
                    <button
                      type="submit"
                      class="btn btn-primary btn-lg"
                    ><a href="/verifyotp"> </a>Send OTP</button>
                  </div>
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="/assets/images/loginUser.jpg"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


